In [29]:
import pandas as pd, numpy as np

### 1. what will be the ouput of the following Python program ?

In [2]:
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q =['abc', 'def']
print(id(q) == foo(q))

True

### 2. What will be the output of the following Python code ?

In [3]:
def fun():
    try:
        return 1
    finally:
        return 2
    
k = fun()
print(k)

2

### 3. What will be the output of the following code snippet ?

In [4]:
def func():
    global value
    value = "Local"
    
value = "Global"
func()
print(value)

Local

### 4. . . . . . . . . exceptions are raised as a result of an error in opening a particular file.

A. ValueError

B. TypeError

C. ImportError

D. IOError

**Explanation**

A. ValueError: This exception is generally raised when a built-in operation or function receives an argument of the correct type but with an invalid value.

B. TypeError: This exception occurs when an operation or function is applied to an object of an inappropriate type.

C. ImportError: Raised when an import statement fails to find the module definition or when a from ... import fails to find a name.

D. IOError: This exception is raised when an I/O operation (like opening a file) fails for an I/O-related reason.

the correct answer for exceptions related to errors in opening a file would be D. IOError.

<b>Ans</b> : IOError

### 5. In python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed.

a) x = 13 // 2

b) x = int(13/2)

c) x = 13% 2

d) All of the mentioned

**Ans**

d) All of the mentioned

### 6. What will be the output of the following Python code?

**t[5]**

a) IndexError

b) NameError

c) TypeError

d) SyntacticalError

**Explanation:**

The code will raise a NameError because the variable 't' is not defined before trying to access its element at index 5. To fix this, you should define 't' as a list or tuple before attempting to access its elements

### 7. A while loop in Python is used for what type of iteration?

a) indefinite

b) discriminant

c) definite

d) indeterminate

#### Explanation:

The correct answer is:
a) indefinite

A while loop in Python is used for indefinite iteration, meaning the loop will continue as long as a certain condition is true. It is not based on a predetermined number of iterations, making it suitable for situations where the number of iterations is not known in advance.

##### Conclusion:
The while loop in Python provides a flexible way to repeatedly execute a block of code as long as a specified condition holds true.

### 8. What will be the output of the following Python code? 

    x = "abcdef"
    while i in x:
        print(i, end=" ")

.a) abcdef

b) abcdef

c)iiiiiii...

d) Error

In [1]:
x = "abcdef"
while i in x:
    print(i, end=" ")

NameError: name 'i' is not defined

#### Explanation:

The code is attempting to iterate over the variable i in the string x. However, there is no prior definition of i. This will result in a NameError as the loop tries to check if i is in the string x. To fix this, you need to define i before using it in the while loop.

### 9. What is the main advantage of using decorators in Python?

a) They make the code more complex

b) They simplify the syntax of the decorated functions

c) They reduce the performance of the code

d) They provide additional security features

#### Explanation:

The correct answer is:
b) They simplify the syntax of the decorated functions

Decorators in Python are used to modify or extend the behavior of functions or methods. The main advantage is that they simplify the syntax of decorated functions by allowing you to apply additional functionality in a clean and reusable way.

##### Conclusion:

Decorators enhance code readability and maintainability by separating concerns and promoting the reuse of code for specific functionalities.

### 10. If return statement is not used inside the function, the function will return:

a) None

b) 0

c) Null

d) Arbitrary value

#### Explanation:

The correct answer is: a) None

In Python, if a function does not contain a return statement, it implicitly returns None. This is the default behavior when the function reaches the end without encountering a return statement.

### 11. What is called when a function is defined inside a class?

a) class

b) function

c) method

d) module

#### Explanation

In Python, when a function is defined inside a class, it is referred to as a method. Therefore, the correct answer is:

Answer: c) method

### 12. Which operator is used in Python to import modules from packages?

a).

b)*

c) ->

d) &

#### Explanation:

In Python, the dot (.) operator is used to import modules from packages. Therefore, option 'a' is the correct answer.

##### Conclusion:

Using the dot operator in import statements helps organize code into hierarchical structures, facilitating the management of modules within packages.

### 13. 

    def getMonth (m):

        if m<1 or m>12:

            raise ValueError("Invalid")

        print(m)

    getMonth (6)

a) ValueError

b) Invalid

c) 6

d) ValueError("Invalid")

In [3]:
def getMonth (m):

    if m<1 or m>12:
        raise ValueError("Invalid")

    print(m)
getMonth (6)

6

### 14. in the Python Programming Language, syntax error is detected by at

a) Interpreter/Compile time

b) Run time / Interpreter

c) Interpreter / Run time

d) Compile time / Run time

#### Explanation
* a) Interpreter/Compile time: This suggests that syntax errors are detected by both the interpreter and the compiler.
* b) Run time / Interpreter: This suggests that syntax errors are detected during runtime by the interpreter.
* c) Interpreter / Run time: This suggests that syntax errors are detected by the interpreter during runtime.
* d) Compile time / Run time: This suggests that syntax errors are detected by both the compiler and during runtime.

Python is an interpreted language, and syntax errors are typically detected by the interpreter during compile time, so the correct option is:

**Answer:** a) Interpreter/Compile time

This means that Python checks for syntax errors when the code is being compiled or interpreted, not during runtime.

### 15. 

    class Book: 
        def_init__(self,author): 
            self.author-author 
            
    book1=Book("V.M.Shah")
    book2=book1

a) Both book1 and book2 will have reference to two different objects of class Book

b) id(book1) and id(book2) will have same value

c) It will throw error as multiple references to same object is not possible

d) None of the above

In [13]:
class Book:
    def __init__(self,author):
        self.author=author 
        
book1=Book("V.M.Shah")
book2=book1

In [14]:
id(book1), id(book2)

(1997032501776, 1997032501776)

### 16. How to create a new column 'Revenue', which has value equals to the Quantity* UnitPrice of the current row?

a) df['Revenue'] = df['Quantity']* df['UnitPrice']

b) df['Revenue'] = df.apply(lambda x: x['Quantity']* x['UnitPrice'], axis = 1)

c) df['Revenue'] = df.apply(lambda x: x['Quantity']* x['UnitPrice'], axis = 0)

d) df['Revenue'] = df['Quantity'] ** df['UnitPrice']

##### The correct option is:
a) df['Revenue'] = df['Quantity']* df['UnitPrice']

This means creating a new column 'Revenue' by multiplying 'Quantity' and 'UnitPrice' for each row.

### 17. What is the syntax to find Categorical wise revenue?

a) df.groupby('Category')['Revenue'].mean()

b) df.groupby('Category')['Revenue'].sum()

c) df.groupby('Category')['Revenue'].agg(np.su m)

d) df.groupby('Category')['Revenue'].agg('sum')

#### Explanation:
Grouping the DataFrame 'df' by the 'Category' column and calculating the sum of the 'Revenue' column for each group.

df.groupby('Category')['Revenue'].sum()

### 18. To find the average quantity wrt to date and product, what is the correct syntax?

a) df.groupby(['Date', 'Product'])['Quantity'].avg()

b) df.groupby(['Date', 'Product'])['Quantity'].mean()

c) df.groupby(['Product', 'Date'])['Quantity'].avg()

d) df.groupby(['Product', 'Mean'])['Quantity'].mean()

#### Explanation:
Grouping the DataFrame 'df' by both 'Date' and 'Product' columns and calculating the mean of the 'Quantity' column for each group.

### 19. Categorical wise revenue for Beverage and Food respectively are

a) 28.5, 6.0

b) 6.0, 27.5

c) 28.5, 7.0

d) 7.0, 28.5

**Ans:** 

21.0, 6.5

### 20. Using transform, what is the syntax to create a column which has a UnitPrice difference wrt its Category mean?

a) df.groupby('Category')['UnitPrice'].transform(I ambda x: x - x.mean())

b) df.groupby('Category') ('UnitPrice').transform(I ambda x: x - x.mean())

c) df.groupby['Category']['UnitPrice'].transform(I ambda x: x - x.mean())

d) df.groupby(['Category', 'UnitPrice']).transform(lambda x: x - x.mean())

#### Explanation:
* Grouping the DataFrame 'df' by the 'Category' column and using the transform function to calculate the difference between each 'UnitPrice' and the mean 'UnitPrice' within its corresponding category.

df['UnitPriceDifference'] = df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

### 21. What is the correct syntax to get data wrt 'Monday'?

a) df.groupby(df.Date.dt.day_name()).get_grou p('Monday')

b) df.groupby(df.Date.dt.dayname()).get_group( 'Monday')

c) df.groupby(df.Date.dt.dayofweek()).get_grou p('Monday')

d) df.groupby(df.Date.dt.day_of_week()).get_gr oup('Monday')

#### Explanation:

* df.Date.dt.day_name(): This extracts the day name from the 'Date' column.
* groupby(df.Date.dt.day_name()): Groups the DataFrame by the day names.
* get_group('Monday'): Retrieves the data corresponding to the 'Monday' group.

##### So, the correct syntax to get data for 'Monday' is option:

a) df.groupby(df.Date.dt.day_name()).get_group('Monday')

### 22. Which of the following statements is/are True?

a) apply() can be applied on rows

b) Apply function can't be applied on rows

c) Apply applies the function on the entire series at a time.

d) Apply applies the function one cell at a time

#### output

a) apply() can be applied on rows

c) apply() applies the function on the entire series at a time

##### Explanation
The apply() function in pandas can be applied to both rows and columns, and by default, it operates on entire series (columns). If you want to apply a function to each element in a series, you might want to use map() or applymap() for DataFrames.

### 23. Which of the following statements is/are True?

a) Map applies the functionality on entire DataFrame

b) Applymap applies the functionality on series be it row or a column

c) Apply and Map are vectorized applications

d) None of the above

#### output
c) apply and map are vectorized applications.

**Explanation:**

apply() is used for applying a function along the axis of a DataFrame (either rows or columns).
map() is used for element-wise transformations in a Series.
Both apply() and map() can be considered as vectorized operations when working with pandas objects like Series or DataFrame.

In [34]:
data = {
    'Date': ['2024-01-10', '2024-01-11', '2024-01-10','2024-01-12','2024-01-11','2024-01-12'],
    'Region': ['North', 'South', 'East','West','North','East'],
    'Salesperson': ['Ajay', 'Balu', 'Chirag','Ajay','Balu','Chiraj'],
    'Product': ['Notebook', 'Pen', 'Notebook','Pen','Binder','Binder'],
    'Quantity': [5, 10, 7,15,20,10],
    'UnitPrice': [12, 3, 12,3,5,5]
}

df1= pd.DataFrame(data)

df1

         Date Region Salesperson   Product  Quantity  UnitPrice
0  2024-01-10  North        Ajay  Notebook         5         12
1  2024-01-11  South        Balu       Pen        10          3
2  2024-01-10   East      Chirag  Notebook         7         12
3  2024-01-12   West        Ajay       Pen        15          3
4  2024-01-11  North        Balu    Binder        20          5
5  2024-01-12   East      Chiraj    Binder        10          5

### 24. What is the syntax to create a pivot table with index as North and South and columns as Product where values are sum of Quantities Sold?

a) df1[df1['Region].isin(['North', 'South']).pivot_table(index = 'Product', columns = 'Product', values = 'Quantity', agg = 'sum')

b) df1 [df1['Region].isin(['North', 'South']).pivot_table(index = 'Product', columns = 'Product', values = 'Quantity', aggfunc = 'sum')

c) df1[(df1['Region] == 'North') | (df1['Region']=='South')]).pivot_table(index = 'Product', columns = 'Product', values = 'Quantity', agg = 'sum')

d) df1[(df1['Region] == 'North') | (df1['Region']=='South')]).pivot_table(index = 'Product', columns = Product, values = 'Quantity', aggfunc = 'sum')

#### The correct syntax is option:
b) df1[df1['Region'].isin(['North', 'South']).pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')

#### Explanation:

##### - df1['Region'].isin(['North', 'South']): Filters rows where the Region is either 'North' or 'South'.
##### - .pivot_table(): Creates a pivot table from the filtered DataFrame.
##### - index='Product': Sets the 'Product' column as the index of the pivot table.
##### - columns='Product': Sets the 'Product' column as the columns of the pivot table.
##### - values='Quantity': Specifies that the values of the pivot table should be taken from the 'Quantity' column.
##### - aggfunc='sum': Specifies the aggregation function to be 'sum', meaning it calculates the sum of quantities sold.

### 25. Which of the following statements is/are True?

a) iloc method includes includes the last element when used for slicing

b) loc method doesn't includes the last element when used for slicing

c) We can use .loc method and pass default integer index of rows when slicing

d) None of above

##### output
The correct statements are:

a) iloc method includes the last element when used for slicing.

b) loc method doesn't include the last element when used for slicing.

**Explanation:**

a) iloc is integer-location based indexing, and when used for slicing, it includes the last element.

b) loc is label-based indexing, and when used for slicing, it includes the start label but excludes the end label.

c) It is not accurate. You cannot use .loc with default integer indices; it requires the labels of the rows.

### 26. Using a pivot table is it possible to create a multi-index dataframe, if so what is the syntax to have a multi index of Date and Region, with total Product sold as values?

a) No we can't create a multi-index table using pivot table

b) df1.pivot_table(index=['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')

c) df1.pivot_table(index=['Date', 'Region'], columns = 'Product', values = 'Quantity', agg = 'sum')

d) None of these

##### output
b) df1.pivot_table(index=['Date', 'Region'], columns='Product', values='Quantity', aggfunc='sum')

This syntax correctly specifies creating a pivot table with a multi-index of 'Date' and 'Region', where the values are the sum of 'Quantity' for each combination of 'Date' and 'Region' for each 'Product'.

### 27. What does the margins parameter in the pivot_table() function allow you to include in the pivot table?

a) Additional margins and subtotals for rows and columns.

b) A list of column names to exclude from the pivot table.

c) The number of rows and columns to skip at the beginning of the pivot table.

d) The maximum number of rows and columns to display in the pivot table

##### output
a) Additional margins and subtotals for rows and columns.

##### Explanation
The margins parameter in the pivot_table() function allows you to include additional margins and subtotals for rows and columns in the pivot table. Setting margins=True will include subtotals for each row and column, as well as an overall total. Setting margins='rows' will include subtotals for each row, and margins='columns' will include subtotals for each column. Setting margins=False (the default) will not include any additional margins or subtotals.

In [30]:
data = {
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi',
               'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape',
               'apple', 'banana', 'apple', 'apple', 'apple'],
    'Price': [np.nan, np.nan, 205, 200, 40, 210, 300, 320, np.nan, 180, 350,np.nan, 35, np.nan, 215, 40, np.nan, np.nan, np.nan]
}

df2 = pd.DataFrame(data)
df2

    Fruits  Price
0    apple    NaN
1   banana    NaN
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana    NaN
9    apple  180.0
10    kiwi  350.0
11   apple    NaN
12  banana   35.0
13   grape    NaN
14   apple  215.0
15  banana   40.0
16   apple    NaN
17   apple    NaN
18   apple    NaN

### 28. If we choose to impute missing values in Price col by chaining ffill() and bfill() while limiting the imputation to 1, 1 respectively, how many missing values will be left post imputation?

a) 2

b) 0

c) 1

d) 3

In [31]:
df2['Price'].ffill(limit=1).bfill(limit=1)

0       NaN
1     205.0
2     205.0
3     200.0
4      40.0
5     210.0
6     300.0
7     320.0
8     320.0
9     180.0
10    350.0
11    350.0
12     35.0
13     35.0
14    215.0
15     40.0
16     40.0
17      NaN
18      NaN
Name: Price, dtype: float64

**Ans**  
d) 3

### 29. What kind of missing values handling technique is appropriate for df2?

a) Imputing Price col with Price's mean

b) Imputing Price col with Price's median

c) Imputing Price col with individual fruits' Price's median

d) Dropping missing values

##### Explanation
c) Imputing Price col with individual fruits' Price's median:

The median is less sensitive to outliers compared to the mean, making it a robust choice, especially if the distribution of prices is skewed or has outliers. Imputing with the median provides a reasonable estimate of the central tendency of the data while being less influenced by extreme values.

### 30. If we choose to impute missing values in Price col by with individual Fruits' Price's mean, how many missing values will be post imputation?

a) 2

b) 0

c) 1

d) 3

In [32]:
df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.mean()))
df2['Price'].isnull().sum()

1

### 31. If a = pd.Series([np.nan, 1, 2, пр.п np.nan, np.nan, np.nan, 4, 5, 7])

What will be the output of a.interpolate()

a) (nan, 1.0, 2.0, 2.3, 2.7, 3.1, 3.5, 4.0, 5.0, 7.01

b) (nan, 1.0, 2.0, 2.5, 2.9, 3.3, 3.8, 4.0, 5.0. 7.01

c) (nan, 1.0, 2.0, 2.4, 2.8, 32, 36, 4.0, 5.0. 7.01

d) Error

In [33]:
a = pd.Series([np.nan, 1, 2, пр.пan, np.nan, np.nan, np.nan, 4, 5, 7])
a

NameError: name 'пр' is not defined

### 32. What is the use of the normalization parameter in the crosstab method of pandas?

a) It used to normalize values by dividing them by the total count

b) To add margins

c) There is no parameter called as normalize in crosstab

d) Both a & c

#### Answer
a) It is used to normalize values by dividing them by the total count

When normalize is set to True, the cross-tabulation table is a frequency table expressed as fractions, i.e., the cell value shows the fraction of the row/column/total count, depending on the value of normalize. This can be useful in understanding the proportion of occurrences in the data, rather than the absolute count. Please note that this parameter does not add margins; there is a separate parameter called margins in crosstab for that purpose.