In [19]:
import pandas as pd, numpy as np

In [2]:

a=({'ProductA':(25,30,28,32,26,29,27,33,31,28,30,29),'ProductB':(40,35,38,41,37,36,39,42,38,37,40,36)})

x = pd.DataFrame(a)
x

    ProductA  ProductB
0         25        40
1         30        35
2         28        38
3         32        41
4         26        37
5         29        36
6         27        39
7         33        42
8         31        38
9         28        37
10        30        40
11        29        36

## Measures of Central Tendency:

#### 1. Calculate the mean sales for Product A and Product B. Compare the average monthly sales for the two products and discuss any observed trends.

In [3]:
x.mean()

ProductA    29.00
ProductB    38.25
dtype: float64

#### 2.Find the median sales for each product and discuss how it reflects the central tendency of the sales distribution.

In [4]:
x.median()

ProductA    29.0
ProductB    38.0
dtype: float64

#### 3.Identify the mode of the sales data for both Product A and Product B. Discuss the significance of the mode in the context of these products.

In [5]:
x.mode()

   ProductA  ProductB
0      28.0        36
1      29.0        37
2      30.0        38
3       NaN        40

#### 4.Calculate the weighted mean of the sales data, assuming each month has an equal weight. Discuss any implications of using weighted mean in this context.

In [16]:
print("Weighted mean for ProductA : ",x['ProductA'].sum()/len(x['ProductA']), 
      "Weighted mean for ProductB : ",x['ProductB'].sum()/len(x['ProductB']), sep='\n')

Weighted mean for ProductA :
29.0
Weighted mean for ProductB :
38.25

In [22]:
avg_A, avg_B=np.average(x['ProductA']),np.average(x['ProductB'])

pd.Series({'ProductA':avg_A, 
           'ProductB':avg_B})

ProductA    29.00
ProductB    38.25
dtype: float64

In [26]:
pd.Series({'ProductA':np.average(x['ProductA']), 
           'ProductB':np.average(x['ProductB'])})

ProductA    29.00
ProductB    38.25
dtype: float64

## Measures of Dispersion:

#### 1.Compute the range of monthly sales for both Product A and Product B. Discuss how the range provides insights into the variability of sales.

In [23]:
x.max()-x.min()

ProductA    8
ProductB    7
dtype: int64

#### 2.Calculate the variance of the sales data for both products. Discuss what the variance reveals about the spread of sales for each product.

In [24]:
x.var()

ProductA    5.636364
ProductB    4.750000
dtype: float64

#### 3.Determine the standard deviation of the sales for Product A and Product B. Discuss the significance of standard deviation in understanding the variability in sales.

In [25]:
x.std()

ProductA    2.374103
ProductB    2.179449
dtype: float64

## Relative Measures of Dispersion:

#### 1.Calculate the coefficient of variation for the sales data of Product A. Discuss how this relative measure of dispersion helps in comparing the variability of products with different average sales.

In [43]:
pd.Series({'ProductA':np.std(x['ProductA'])/np.mean(x['ProductA']) *100})

ProductA    7.838035
dtype: float64

#### 2.Compute the relative range for Product B. Discuss how the relative range accounts for the scale of the sales data.

In [46]:
pd.Series(x['ProductB'].max() - x['ProductB'].min()) / np.mean(x['ProductB']) * 100

0    18.300654
dtype: float64

#### 3.Determine the relative standard deviation for Product A. Interpret the result and discuss its implications for understanding the variability relative to the mean.

In [45]:
pd.Series((x['ProductA'].std())/ np.mean(x['ProductA']) * 100)

0    8.186561
dtype: float64