# anonymous or lambda functions

Anonymous Functions are those which does not contain any name explicitly (Un-known).
* The purpose of Anonymous Functions is that " To Perform Instant Operations".
* Instant Operations are those which are using at that point time only and no longer interested to re-use in other part of the project / application.
* Anonymous Functions are containing single executable statement but not multiple executable statements.
* Anonymous Functions automatically OR Implicitly returns the Result (no need to use return statement).
* To Define Anonymous Functions, we use a keyword called "lambda" and Anonymous Functions are also called Lambda Functions.

<b>Syntax</b>: varname=lambda params-list : Expression 

<b>Explanation</b>:

* varname represents an object of type <class,'fucntion'>
* lambda  is a keyword which is used for defining  Anonymous Function
* params-list represents list of formal params which are used for storing Values coming from Function calls.
* Expression reprsents single executable statement which provides logic for Instant Operations. Here PVM executes single  executable statement and whose result returns Automatically / Implcitily (no need to return statement)

In [12]:
fooAdd=lambda a,b : a+b

fooAdd(10,15)

25

In [6]:
x = 8
'Even' if x%2 == 0 else 'odd'

'Even'

In [17]:
(lambda x, y: ([ele for ele in range(x, y+1) if ele%2==0], [ele for ele in range(x, y+1) if ele%2!=0]))(1,10)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [20]:
x = []
for ele in range(10):
    if ele%2 == 0:
        x.append(ele)

x

[0, 2, 4, 6, 8]

In [19]:
c = lambda x,y : x**y

c(3,4)

81

# map()

* map() is used for obtaining new Iterable object from existing iterable object by applying old iterable elements to the function.
* In otherwords, map() is used for obtaining new list of elements  from  existing list of elements by applying old list  elements to the function.


<b>Syntax</b>:-      varname=map(FunctionName,Iterable_object)

        * Here 'varname' is an object of type <class,map'> and we can convert into any iteratable object by using type casting functions.
        * "FunctionName" represents either Normal function or anonymous functions.
        * "Iterable_object" represents Sequence, List, set and dict types.
* The execution process of map() is that " map() sends every element of iterable object to the specified function, process it and returns the modified value (result) and new list of elements will be obtained". This process will be continued until all elements of Iterable_object completed.

In [31]:
a = map(lambda x: x**2, [1,2,3])

print(a,  list(a))

<map object at 0x000001EB4448E3B0> [1, 4, 9]

In [34]:
a = map(ord, 'def')
list(a)

[100, 101, 102]

In [36]:
map(lambda x: x/0, [11,22,33])

In [38]:
list(map(lambda x, y: x+y, [1,2,3], [11,12,13]))

[12, 14, 16]

In [47]:
list(map(lambda x,y: x**y, [5],[5]))

[3125]

In [43]:
list(map(lambda x: x**x, [1,2,3,4,5]))

[1, 4, 27, 256, 3125]

# filter()

* filter() is used for  "Filtering out some elements from list of elements by applying to function".

<b>Syntax:-</b>        varname=filter(FunctionName, Iterable_object)

<b>Explanation:</b>

    * here 'varname' is an object of type <class,'filter'> and we can convert into any iteratable object by using type casting functions.
    * "FunctionName" represents either Normal function or anonymous functions.
    * "Iterable_object" represents Sequence, List, set and dict types.
* The execution process of filter() is that  " Each Value of Iterable object sends to Function Name. If the function return True then the element will be filtered. if the Function returns False then that element will be neglected/not filtered ". This process will be continued until all elements of Iterable object completed.

In [46]:
### filter

list(filter(lambda x: True if x%2 == 0 else False, [1,2,3,4,5]))

[2, 4]

In [51]:
list(filter(lambda x: True if x in 'aeiouAEIOU' else False, 'KILLER'))

['I', 'E']

In [57]:
list(filter(lambda x: True if x.isalnum() else False, '12andfd67@3426#58'))

['1', '2', 'a', 'n', 'd', 'f', 'd', '6', '7', '3', '4', '2', '6', '5', '8']

In [58]:
list(filter(lambda x: True if x.isalnum() is False else False, '12andfd67@3426#58'))

['@', '#']

# reduce()

reduce() is used for obtaining a single element / result from given iterable object by applying to a function.

<b>Syntax:-</b>
		varname=reduce(function-name,iterable-object)

        * here varname is an object of int, float,bool,complex,str only
        * The reduce() belongs to a pre-defined module called" functools".

<b>Internal Flow of reduce()</b>

* step-1:- Initially, reduce() selects  First Two values of Iterable object and place them in First var and Second var .
* step-2:- The function-name(lambda or normal function) utilizes the values of First var and Second var and applied to the specified logic and obtains the result.
* Step-3:- reduce () places the result of function-name in First variable and reduce() selects the succeeding element of Iterable object and places in second variable.
* Step-4: Repeat  Step-2 and Step-3 until all elements completed in Iterable object and returns the result of First Variable.

In [1]:
import functools
res = functools.reduce(lambda x, y : x+y, [3,5,7,11,15,18])
res

59

In [3]:
x = functools.reduce(lambda x, y : x+' '+y, 'Siva Sankar')
x

'S i v a   S a n k a r'