# sets and Dictionaries

# sets

* are a cluster of hetrogeneous data values, they aren't ordered
* we declare sets by using {}
* sets don't have duplicate value
* we can use set class to perform type-casting
* sets have methods that are unique

In [3]:
# Empty set

a = set()
print(a, type(a), len(a), hex(id(a)), sep='\n')

set()
<class 'set'>
0
0x296d0595ee0

In [4]:
x , y = {1, 2.2, 3+3j, 'four', print, range, True}, set([1, 2.2, 3+3j, 'four', print, range, True])
print(x, type(x), len(x), hex(id(x)), sep='\n')
print(y, type(y), len(y), hex(id(y)), sep='\n')

{1, 2.2, 'four', <built-in function print>, (3+3j), <class 'range'>}
<class 'set'>
6
0x296d0596260
{1, 2.2, 'four', <built-in function print>, (3+3j), <class 'range'>}
<class 'set'>
6
0x296d0596500

In [5]:
x = {2,2,2,5,5,5,8,8,8,8}
x

{2, 5, 8}

## methods of sets

In [7]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### add()

add() method is used to add an element to a set. If the element is already present in the set, it will not be added again.
* <b>Syntax</b>: set.add(element)

In [8]:
fruits = {'mango', 'guava', 'banana'}
fruits

{'banana', 'guava', 'mango'}

In [12]:
fruits.add('apple')
print(fruits)

{'apple', 'banana', 'guava', 'mango'}

### update()

update() method is used to add multiple elements to a set. The elements can be passed as an iterable such as a list, tuple, or another set. If the element is already present in the set, it will not be added again.
* <b>Syntax</b>: set.update(iterable)

In [18]:
fruits = {"apple", "banana", "cherry"}
fruits.update(["orange", "mango", "grapes"])

print(fruits)

{'banana', 'mango', 'apple', 'orange', 'grapes', 'cherry'}

In [22]:
z = {1,2,3}
z.update((9,44))
print(z)

{1, 2, 3, 9, 44}

### remove()

remove() method is used to remove an element from a set. If the element is not present in the set, it will raise a KeyError.
* <b>Syntax</b>: set.remove(element)

In [23]:
veg = {'carrot', 'ginger', 'mirchi', 'cabage'}
veg.remove('mirchi')
veg

{'cabage', 'carrot', 'ginger'}

### discard()

discard() method is used to remove an element from a set. If the element is not present in the set, it will not raise a KeyError.
* <b>Syntax</b>: set.discard(element)

In [24]:
veg = {'carrot', 'ginger', 'mirchi', 'cabage'}
veg.discard('mirchi')
veg

{'cabage', 'carrot', 'ginger'}

### pop()

pop() method is used to remove and return an arbitrary element from a set. If the set is empty, it will raise a KeyError.
* <b>Syntax</b>: set.pop()

In [29]:
fruits = {"apple", "banana", "mango"}
print(fruits)
x = fruits.pop()
x,fruits

{'apple', 'banana', 'mango'}

('apple', {'banana', 'mango'})

### clear()

clear() method is used to remove all elements from a set.
* <b>Syntax</b>: set.clear()

In [30]:
fruits = {"apple", "banana", "mango"}
fruits.clear()
print(fruits)

set()

 ### copy()

copy() method is used to create a shallow copy of a set. A shallow copy is a new set that contains the same elements as the original set.
* <b>Syntax</b>: new_set = set.copy()

In [31]:
fruits = {"apple", "banana", "mango"}
f = fruits.copy()
print(fruits, f)

{'apple', 'banana', 'mango'} {'apple', 'banana', 'mango'}

### isdisjoint()

isdisjoint() method is used to check whether two sets are disjoint or not. Two sets are said to be disjoint if their intersection is null. The method returns True if the two sets are disjoint, otherwise it returns False.
* <b>Syntax</b>: set1.isdisjoint(set2)

In [32]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

set1.isdisjoint(set2)

True

### issuperset()

issuperset() method is used to check if a set is a superset of another set. The method returns True if all elements of the second set are present in the first set, otherwise it returns False.
* <b>Syntax</b>: set1.issuperset(set2)

In [33]:
x = {1,2,3,4}
y = {4,5,6}

x.issuperset(y)

False

In [34]:
x = {1,2,3,4}
y = {4}

x.issuperset(y)

True

### issubset()

issubset() method is used to check if a set is a subset of another set. The method returns True if all elements of the first set are present in the second set, otherwise it returns False.
* <b>Syntax</b>: set1.issubset(set2)

In [36]:
x = {4,5}
y = {4,5,6}

x.issubset(y)

True

### union()

union() method is used to return a new set containing all the elements from the original set and all the elements from the specified set(s). The method can take any number of sets as arguments.
* <b>Syntax</b>: set1.union(set2, set3, ..)

In [37]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.union(set2)

{1, 2, 3, 4, 5}

### intersection()

intersection() method is used to return a new set containing only the elements that are common to two or more sets. The method can take any number of sets as arguments. 
* <b>Syntax</b>: set1.intersection(set2, set3,..)

In [38]:
a = {1,3,5,7}
b = {2,3,7}

a.intersection(b)

{3, 7}

### intersection_update()

intersection_update() method is used to update a set with common elements only of all the sets passed in parameter of intersection_update() method. The method can take any number of sets as arguments.
* <b>Syntax</b>: set1.intersection_update(set2, set3, ..., setn)

In [40]:
a = {1,3,5,7}
b = {2,3,7}
c = {5,9,3}
a.intersection_update(b, c)
a

{3}

### difference()

difference() method is used to return a new set containing only the elements that are present in one set but not in another. The method takes one argument, which is the set to be compared.
* <b>Syntax</b>: set1.difference(set2)

In [41]:
a = {1,3,5,7}
b = {2,3,7}

a.difference(b)

{1, 5}

### difference_update()

difference_update() method is used to remove the elements from a set that are also present in another set. The method modifies the original set and returns none.
* <b>Syntax</b>: set1.difference_update(set2)

In [45]:
a = {1,3,5,7}
b = {2,3,7}

a.difference_update(b)
a

{1, 5}

### symmetric_difference()

symmetric_difference() method is used to return a new set containing only the elements that are present in either of the two sets, but not in both. The method takes one argument, which is the set to be compared.
* <b>Syntax</b>: set1.symmetric_difference(set2)

In [46]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.symmetric_difference(set2)

{1, 4}

### symmetric_difference_update()

symmetric_difference_update() method is used to update a set with the symmetric difference of two or more sets. The symmetric difference of two sets is the set of elements that are in either of the sets but not in both. The method can take any number of sets as arguments.
* <b>Syntax</b>: set1.symmetric_difference_update(set2, set3, ...)

In [52]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.symmetric_difference_update(set2)
print(set1)

{1, 4}

# Dictionaries

* A dictionary is a collection of key-value pairs. 
* Each key-value pair maps the key to its associated value. * Dictionaries are unordered, changeable, and do not allow duplicates. 
* You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces {}.

In [65]:
x=dict()
print(x,type(x))

{} <class 'dict'>

In [63]:
x = {1:[1,2,3],
    'hello':(4,5,6),
    'hello':['hi']}

x

{1: [1, 2, 3], 'hello': ['hi']}

In [64]:
x['hello'][0][1]

'i'

In [14]:
x = {1:[1,2,3],
    'hello':(4,5,6),
    'hello':['hi']}

print(x['hello'])

['hi']

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### clear()

clear() method is a built-in method that removes all the items from a dictionary.
* <b>Syntax</b>: dictionary.clear()

In [2]:
a = {'name': 'Siva', 'age': 23, 'city': 'Hyd'}
a

{'name': 'Siva', 'age': 23, 'city': 'Hyd'}

In [4]:
a.clear()
a

{}

### copy()

copy() method is a built-in method that returns a shallow copy of the dictionary.
* <b>Syntax</b>: new_dict = dictionary.copy()

In [10]:
a = {'name': 'Siva', 'age': 23, 'city': 'Hyd'}
b = a.copy()
print(a, type(a), hex(id(a)), sep='\n')
print(b, type(b), hex(id(b)), sep='\n')

{'name': 'Siva', 'age': 23, 'city': 'Hyd'}
<class 'dict'>
0x24ffaac9380
{'name': 'Siva', 'age': 23, 'city': 'Hyd'}
<class 'dict'>
0x24ffaac9640

### pop()

The pop() method removes the specified item from the dictionary.
* <b>Syntax</b>: dictionary.pop(keyname, defaultvalue)

In [11]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}